<!-- include header -->
<%- include('include/_header', {Us:US}) %>
    <!-- /include header -->

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>Alterar Dados Pessoais</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <div class="formulario">
        <div class="titulo_form">
            <h1>Alterar dados</h1>
        </div>
        <form method="POST">

            <div class="jgd1">
                <p>Nome:</p><br>
                <input type="text" id="username" name="username" placeholder="Jusefino Albino da Mota Freitas"
                    pattern="[A-Za-z\W+]{1,25}">
                <br>
                <br>
                <p>Email:</p><br>
                <input type="email" name="email" placeholder="jusefino.freitas99@gmail.com">
                <br>
                <br>
                <p>Telemóvel:</p><br>
                <input type="text" name="contacto" placeholder="961234567" maxlength="9" pattern="[0-9]+"
                    title="O número de telemóvel deve de conter apenas números">
                <br>
                <br>
                <p>Password:</p><br>
                <input type="password" name="password" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="A password tem de conter pelo menos um número, uma letra maiúscula, uma letra minúscula, e pelo menos 8 caracteres ou mais">
                <br>
                <br>
                <p>Imagem de perfil:</p><br>
                <input type="file" id="img" name="img" accept="image/*">
            </div>
            <button type="submit" class="enviar">
                Confirmar alterações
            </button>
            <script>
                let table = document.getElementById('table');
                let hora;
                let dia;
                for (let i = 1; i < table.rows.length; i++) {


                    table.rows[i].onclick = function () {


                        //rIndex = this.rowIndex;
                        hora = this.cells[0].innerHTML;
                        console.log(hora);



                    };
                }
                /* for (var j = 1; j < 7; j++) {
                     table.rows[0].cells[j].onclick = function () {
                         console.log(this.rows[0].innerHTML);
                     };
                 }*/



                let count = 0;

                $('table').on('click', 'td', function () {
                    count++;
                    if (count === 1) {
                        if ($(this).css("background-color") === "rgb(128, 30, 6)") {/*verifica se esta verde*/
                            $(this).addClass('active');
                        }
                        else {
                            $(this).removeClass('active');
                        }
                    }

                    if (count == 2) {
                        if ($(this).css("background-color") === "rgb(128, 30, 6)") {
                            $(this).addClass('active');
                        }
                        else {
                            $(this).removeClass('active');
                        }
                        count = 0;

                    }
                });




            </script>
        </form>>
    </div>


    </form>
    </div>




    </div>

    </html>
    <!-- /Main Site -->


    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->