<!DOCTYPE html>
<html>
<body>

<h1>Criação do torneio</h1>

<form>
    <label for="nometorneio">Nome do torneio:</label><br>
    <input type="text" id="nometorneio" name="nometorneio">
    <br>
    <br>
    <label for="datainicio">Data inicio:</label><br>
    <input type="datetime-local" id="datainicio" name="datainicio">
    <br>
    <br>
    <label for="datafim">Data fim:</label><br>
    <input type="datetime-local" id="datafim" name="datafim">
    <br>
    <br>
    <label for="numeroparticipantes">Número de participantes:</label><br>
    <input type="number" id="quantity" name="quantity" min="1" max="9999">
    <br>
    <br>
    <label for="tipo">Tipo do torneio</label><br>
    <input type="radio" id="masculino" name="masculino" value="HTML">
    <label for="html">Masculino</label><br>
    <input type="radio" id="feminino" name="feminino" value="CSS">
    <label for="css">Feminino</label><br>
    <input type="radio" id="misto" name="misto" value="CSS">
    <label for="css">Misto</label>
    <br>
    <br>
    <label for="formato">Formato do torneio</label><br>
    <input type="checkbox" id="fasegrupos" name="fasegrupos" value="Fase de grupos">
    <label for="fasegrupos"> Fase de grupos</label><br>
    <input type="checkbox" id="faseeliminatorias" name="faseeliminatorias" value="Fase de eliminatorias">
    <label for="faseeliminatorias"> Fase de eliminatórias</label>
    <br>
    <br>
    <label for="img">Imagem:</label>
    <input type="file" id="img" name="img" accept="image/*">
    <br>
    <br>
    <input type="submit">
</form>

</body>
</html>