<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {font-family: Arial, Helvetica, sans-serif;}

    h1 {
        text-align: center;
        color: blueviolet;
        font-weight: bold;
    }

    .navbar a {
        float: left;
        padding: 30px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        background-color: blueviolet;
        border-radius: 25px;
        position: absolute;
        left: 200px;
        top: 190px;
    }

    .navbar a:hover {
        background-color: #a972dd;
    }

    .navbar2 a {
        float: left;
        padding: 30px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        background-color: #8a2be2;
        border-radius: 25px;
        position: absolute;
        right: 200px;
        top: 190px;
    }

    .navbar2 a:hover {
        background-color: #994edf;
    }

    .navbar3 a {
        float: right;
        padding: 30px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        background-color: blueviolet;
        border-radius: 25px;
        position: absolute;
        left: 235px;
        top: 360px;
    }

    .navbar3 a:hover {
        background-color: #994edf;
    }

    .navbar4 a {
        float: right;
        padding: 30px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        background-color: blueviolet;
        border-radius: 25px;
        position: absolute;
        right: 260px;
        top: 360px;
    }

    .navbar4 a:hover {
        background-color: #994edf;
    }
</style>
<body>
    <h1>Editar torneio</h1>
    <td>
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-pencil"></i> Editar dados do torneio</a>
        </div>
        <div class="navbar2">
            <a href="#"><i class="fa fa-fw fa-calendar"></i> Editar Horário/Calendário de jogos</a>
        </div>
    </td>
    <td>
        <div class="navbar3">
            <a href="#"><i class="fa fa-fw fa-pencil"></i> Editar bracket</a>
        </div>
        <div class="navbar4">
            <a href="#"><i class="fa fa-fw fa-list"></i> Alterar inscrições</a> 
        </div>
    </td>
</body>
</html> 