<!DOCTYPE html>
<html lang="en">
<%- include('include/_header') %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <title>Admin</title>
    </head>

    <body>

        <div id="home_admin">
            <div class="bloco1">
                <h1>Bem vindo à Gestipadel!</h1>
                <div class="descritivo">
                    <p>Aqui podes criar e gerir </p>
                    <p>
                        os teus torneios!
                    </p>
                </div>
                <div class="imagem">
                    <img src="../../img/HomePageUser/Image2.png">
                </div>


                <br>

                <form action="/criartorneio" method="GET">
                    <button type="submit">
                        <p>Criar Torneio</p> <img src="../../img/HomePageUser/Icon_arrow.png">
                    </button>
                </form>
            </div>
            <div class="bloco2">
                <div class="imagem">
                    <img src="../../img/AdminHome/tablet.png">
                </div>

                <br>

                <form action="/editar_torneio_menu" method="GET">
                    <button type="submit">
                        <p>Gerir Torneio</p> <img src="../../img/HomePageUser/Icon_arrow.png">
                    </button>
                </form>
            </div>
        </div>

    </body>

</html>
<%- include('include/_footer') %>