<!DOCTYPE html>
<html lang="en">
<%- include('include/_header') %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div id="homePage">
            <div class="inicio">
                <div class="colunaDuplaHome1">
                    <h1>Padel de todos, para todos.</h1>
                    <div class="desc">
                        <p>Não perca tempo em desafiar a si e ao seu amigo.</p>
                        <p>Torneios de todos níveis durante o ano</p>
                    </div>

                    <form action="/ProxTorneios" method="POST">
                        <button type="submit">
                            <p>Inscreva-se num Torneio</p> <img src="../../img/HomePageUser/Icon_arrow.png">
                        </button>
                    </form>
                    <form action="/TorneiosAndamento" method="POST">
                        <button type="submit">
                            <p>Torneios em Andamento</p> <img src="../../img/HomePageUser/Icon_arrow.png">
                        </button>
                    </form>


                </div>
                <div class="colunaDuplaHome2">

                    <img src="../../img/HomePageUser/Image1.png" alt="ImgHome1">

                    <div class="colunaDuplaHomeSegundaLayer">
                        <img src="../../img/HomePageUser/Image2.png" alt="ImgHome2">
                        <img src="../../img/HomePageUser/Image3.png" alt="ImgHome3">
                    </div>
                </div>

            </div>

            <!--<div class="ultimosT">
                <h2>Últimos torneios realizados</h2>
                <img src="../../img/HomePageUser/TournamentImage1.png" alt="ImgTour1">
                <img src="../../img/HomePageUser/TournamentImage2.png" alt="ImgTour2">
                <img src="../../img/HomePageUser/TournamentImage3.png" alt="ImgTour3">
            </div>-->
            <div class="howTo">
                <h2>Como realizar uma inscrição?</h2>
                <div class="colunaInscricaoHome">
                    <img src="../../img/HomePageUser/Icon1.png" alt="Icon1">
                    <h3>Próximo Torneio</h3>
                    <p>Pesquise o próximo torneio que irá ser realizado e que tenha interesse!</p>
                </div>
                <div class="colunaInscricaoHome">
                    <!-- <img src="../../img/HomePageUser/Line.png" alt="Line">-->
                    <img src="../../img/HomePageUser/Icon2.png" alt="Icon2">
                    <h3>Increva-se</h3>
                    <p>Clique no botão de inscrição e preencha os seus dados.</p>
                </div>
                <div class="colunaInscricaoHome">
                    <img src="../../img/HomePageUser/Icon3.png" alt="Icon3">
                    <h3>Mudanças de Últimas Hora</h3>
                    <p>Por vezes existem alterações de horário dos jogos. Em caso de dúvidas contacte o organizador!</p>
                </div>
            </div>


        </div>
    </body>

</html>
<%- include('include/_footer') %>