<!DOCTYPE html>
<html>
<body>

<h1>Inscrição num torneio</h1>

<form>
    <label for="torneio">Escolha o torneio:</label><br>
    <select name="torneio" id="torneio">
        <option value="torneio1">Torneio 1</option>
        <option value="torneio2">Torneio 2</option>
    </select>
    <br>
    <br>
    <label for="listaespera">Pretende ficar em lista de espera?</label><br>
    <input type="radio" id="yes" name="res" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="no" name="res" value="nao">
    <label for="nao">Não</label>
    <br>
    <br>
    <label for="disponibilidade">Disponibilidade hóraria:</label><br>
    <input type="date" id="disponibilidade" name="disponibilidade">
    <br>
    <br>
    <label for="fname">Primeiro nome:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Último nome:</label><br>
    <input type="text" id="lname" name="lname">
    <br>
    <br>
    <label for="playerlevel">Selecione o seu nível:</label><br>
    <select name="level" id="level">
        <option value="level1">Nível 1</option>
        <option value="level2">Nível 2</option>
        <option value="level3">Nível 3</option>
        <option value="level4">Nível 4</option>
    </select>
    <br>
    <br>
    <label for="nif">NIF:</label><br>
    <input type="text" maxlength="9" id="nif" name="nif">
    <br>
    <br>
    <label for="email">Email:</label><br>
    <input type="text" maxlength="9" id="email" name="email">
    <br>
    <br>
    <label for="tel">Telemóvel:</label><br>
    <input type="text" maxlength="9" id="tel" name="tel">
    <br>
    <br>
    <input type="submit">
</form>

</body>
</html>