<!DOCTYPE html>
<html lang="en">
<%- include('include/_header') %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div id="menu_editar">
            <h1>Editar Torneio</h1>
            <div class="formulario">
                <button class="enviar">
                    Editar Calendário de Jogos
                </button>
                <button class="enviar">
                    Editar Fase De Grupos
                </button>
                <button class="enviar">
                    Editar Fase a Eliminar
                </button>
                <button class="enviar">
                    Postar Resultados
                </button>
            </div>


        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>

    </body>

</html>
<%- include('include/_footer') %>