<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestiPadel</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Header -->
    <footer id="footer">
        <div class="contactos">
            <h1>Contactos</h1>
            <p>Tel:. 291 602 431</p>
            <p>Email: email@gmail.com</p>
        </div>
        <div class="Morada">
            <h1>Morada</h1>
            <p>Impasse Est do Livramento 7,</p>
            <p>9125-184 Caniço</p>
        </div>
        <div class="social_media">
            <h1>Redes Sociais</h1>
            <div class="face">
                <img src="../../img/face.png">
            </div>
            <div class="insta">
                <img src="../../img/insta.png">
            </div>
            <div class="twitter">
                <img src="../../img/twitter.png">
            </div>

            <div class="linkedin">
                <img src="../../img/linkedin.png">
            </div>
        </div>
        <div class="copy-right">
            <div class="allrights">
                <p>©GestiPadel 2022. All rights reserved</p>
            </div>
            <div class="terms">
                <p>Terms of service</p>
            </div>



        </div>



    </footer>
    <!-- /Header -->